<!DOCTYPE html>
<html lang="en">

<head>
    <title>Telstra Global Blog</title>
    <% include partials/head.ejs %>
</head>

<body>

    <div id="wrapper">

        <% include partials/sidebarMenu.ejs %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                      <p align="center" class="headingFont">
                        Mark your Opinions !!!
                      </p>
                      <br/>

                   <blockquote class="mainLines">
                    Telstra Operates on many domains with many technologies involved <code>Mark your Opinions</code> is a Technical Forum where you can share your Technical opinions,Raise questions & get answers from Experts.
                  </blockquote>

                  <blockquote class="mainLines">
                    This Platform helps people to share knowledge across various domains or technologies.
                    <br/> Read the blogs <a href="/stories">here</a> or <a href="/new-story">write your own blog</a>
                  </blockquote>

                  </div>
           </div>
         </div>
      </div>


  </div>

  <% include partials/jsIncludes.ejs %>

</body>

</html>
